numpy
pandas
nltk
langchain
langchain-core
langchain-community
langchain-ollama
chromadb
pypdf
faiss-cpu
langchain-huggingface
langchain_groq
sentence-transformers
groq
requests
bs4
matplotlib
streamlit
langgraph
duckduckgo-search
langchain-classic
langchain_groq
wikipedia
